
body{
    border:0;
    margin:0px;
    padding:0;
    
    
}

img{
    border:0px;
    width: 80%;
    height: auto;
    
    
}
.cover{
    z-index: 999;
    position:fixed;;
    height:80px;
    width:100%;
    background-color: black;
    opacity: 0.7;
}
nav{
    z-index: 999;
    position:fixed;
    width:100%;
  
    height:80px;
    border:0px;
    display:flex;
    align-items: center;
    
    justify-content: center;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';;
    
}
nav a:nth-child(2){
    padding-right: 100px;
}
nav a:nth-child(1){
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 0px;
    padding-right:80px;
    font-family: 'sans-serif';
    color:white;
}
nav input{
    width:250px;
    height:35px;
    padding:10px;
    
    background-color: white;
    font-family:'sans-serif';
    border:0px ;
    
    
}
.sign{
    height:50px;
    width:120px;
    font-weight: 600;
}
nav button{
    
    height:35px;
    width:50px;
    border:0px ;
    color:lawngreen;
    margin-right:40px;
    background-color:black;
    border:1px solid lawngreen;
}
nav button:hover {
    background-color: lawngreen;
    color:black;
}
nav a:last-child{
    font-size: 20px;

    text-decoration: none;
    font-weight: 800;
    padding-left: 120px;
    justify-content: right;
    color:white;
}

nav a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 68.5px;
    
    color:white;
}
nav a:hover{
    color:lawngreen;
}
.leaf{
   position:absolute;
   top:165px;
   left:1390px;
   height:100px;
   width:100px;
   animation-name: leaf;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes leaf{
    0%  {transform: rotate(0deg) translateX(0px)};
    50% {transform: rorate(20deg) translateX(10px);}
    100% {transform: rotate(40deg) translateX(20px)};
}
.about{
    z-index: 1;
    font-family: "Poppins", sans-serif;
    height:500px;
    background-color: black;
    color:white;
}
.about .des{
    
    float:left;
    width:40%;
    padding-left:100px;
    
    text-align: left;
    box-sizing:border-box;
    
}
.mov{
    
    position:absolute;
    top:690px;
}

 .des h2{
    font-size: 37px;
    line-height: 50px;
    border-bottom: 3px solid black;
    width:500px;
    padding-bottom:2px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color:lawngreen;
}
 .des p{
    line-height: 30px;
    font-size:20px;
}
.about .imag{
    float:left;
    width:50%;
    
    box-sizing: border-box;
    opacity:0;
}
.about .imag{
    opacity: 0;
    animation: imag 4s linear 0s 1 forwards;
}

@keyframes imag{
    0% {transform:translateY(-10px); opacity:0;}
    50% {transform:translateY(0px);opacity:0.5}
    100% {transform:translateY(10px);opacity:1}
}
.onimage .wel{
    position:absolute;
    top:180px;
    left:1050px;
    font-weight: 1000;
    font-size:60px;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';;
    color:white;
}
.onimage .logo{
    position:absolute;
    top:260px;
    left:1000px;
    
    font-size:60px;
    font-weight: 1000;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';;
    color:white;
    opacity: 1;
    animation-name:logonimage;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 3s;
}
@keyframes logonimage{
    0% {opacity: 0;}
    50% {opacity:0.5}
    100% {opacity:1;}
}
.freq-bought{
    background-color: white;
    height:400px;
    
}
.freq-bought h2{
    font-size: 37px;
    
    color:lawngreen;
    text-align: center;
    border-bottom: 3px solid black;
    padding-bottom:2px;
    width:508px;
}
body {
    line-height: 24px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    color: #7f7f7f;
}
footer{
    background-color: rgb(2, 12, 2);
    color:white;
}

.footer-area {
    padding: 60px 0px;
}

a {
    
    text-decoration: none;
    
}
ul {
    list-style: none;
    padding: 0;
}
.detail{
    color:white;
    
    padding-right:120px;
}

.Contact{
    float:left;
    text-align: center;
    width:33%;
    color:lawngreen;
    height:90%;
}
.feedback{
    float:left;
    height:90%;
    color:lawngreen;
    text-align: center;
    width:33%;
}
.social{
    
    color:lawngreen;
    float:left;
    height:90%;

    text-align: center;
    width:33%;
}
.social a{
    margin-top:20px;
    text-decoration: none;
    color:#818a91;
    background-color: #eceeefd2;
    
    font-size:20px;
    display:inline-block;
    
    width:44px;
    height:34px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    padding-top:10px;
    
    

}
.social .linkedin:hover{
    background-color:#007bb6;
    color:white;
}
.social .facebook:hover{
    background-color:#3b5998;
    color:white;
}
.social .twitter:hover{
    background-color:#00aced;
    color:white;
}
.social .instagram:hover{
    background-color: gray;
    color:white;
}
.social .gplus:hover{
    background-color: red;
    color:white;
}
.copy{
    height:50px;
    padding-top:10px;
    box-sizing: border-box;
    width:100%;
    float:left;
    text-align: center;
    background-color: black;;
    color:white;
    
}



.social input[type="submit"]{
    
   margin-top:20px;
    font-weight: 600;
    padding:10px;
    height:35px;
    width:auto;
    border:0px ;
    color:lawngreen;
    margin-top: 5px;;
    margin-right:50px;
    background-color:black;
    

}
figure{
    display:inline-block;
    margin-inline-end: 0px;
   width:200px;
   font-family: "Poppins", sans-serif;
}
figure a:hover{
    opacity: 0.9;
}
.social input[type="text"]{
    margin-top:20px;
    width:250px;
    height:35px;
    padding:10px;
    margin-left:30px;
    background-color: #eceeefc9;
    font-family: sans-serif;
    border:0px ;
    
}
.social input[type="text"]:focus{
    
    background-color: white;
    
    
}
.social input[type="submit"]:hover {
    background-color: lawngreen;
    color:black;
}
textarea{
    background-color:#eceeefc9;
}
textarea:focus{
    background-color: white;
}
.feedback input[type="submit"]{
     position:relative;
     top:10px;
     left:20px;
    margin-top:20px;
     font-weight: 600;
     padding:10px;
     height:35px;
     width:auto;
     border:0px ;
     color:lawngreen;
     margin-top: 5px;;
     margin-right:50px;
     background-color:black;
     
 }
.feedback input[type="submit"]:hover {
    background-color: lawngreen;
    color:black;
}
embed{
    justify-content: baseline;
}
figure button{
    
    height:35px;
    width:80px;
    margin-left:50px;
    border:0px ;
    color:lawngreen;
    margin-right:50px;
    background-color:black;
    
}
figure button:hover{
    
    color:black;
    background-color: lawngreen;
}

a:hover{
    color:lawngreen;
}
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font: 14px/22px "Ubuntu", Arial, sans-serif;
	background: white;
}

.lighter-text {
	color: #ABB0BE;
}

.main-color-text {
	color: #00c0cb;
}



.navbar {
	border-top: 1px solid #fff;
	background: url("https://www.qispackaging.com.au/App_Themes/QISPackaging/Images/bg-nav-rep-x.jpg") repeat-x;
	height: 43px;
}

.container {
    z-index: 999;
	margin: auto;
	width: 80%;
}

#addtocart {
	width: 250px;
}

.badge {
	background-color: lawngreen;
	border-radius: 10px;
	color: white;
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	padding: 3px 7px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.shopping-cart {
    z-index: 999;
	background: white;
	width: 400px;
	position: absolute;
	top: 80px;
	left: 1000px;
	border-radius: 3px;
	padding: 20px;
	overflow: hidden;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	opacity: 0;
	-webkit-transform-origin: right top 0;
	-webkit-transform: scale(0);
	transform-origin: right top 0;
	transform: scale(0);
}

.shopping-cart.active {
	opacity: 1;
	-webkit-transform-origin: right top 0;
	-webkit-transform: scale(1);
	transform-origin: right top 0;
	transform: scale(1);
}

.shopping-cart .shopping-cart-header {
	border-bottom: 1px solid #E8E8E8;
	padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
	float: right;
}

.shopping-cart .shopping-cart-items {
	padding-top: 20px;
}

.shopping-cart .shopping-cart-items li {
	margin-bottom: 18px;
}

.shopping-cart .shopping-cart-items img {
	float: left;
	margin-right: 12px;
	max-width: 70px;
	max-height: 70px;
}

.shopping-cart .shopping-cart-items .item-name {
	display: block;
	font-size: 16px;
}

.shopping-cart .shopping-cart-items .item-detail {
	display: block;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.shopping-cart .shopping-cart-items .item-price {
	color: #00c0cb;
	margin-right: 8px;
}

.shopping-cart .shopping-cart-items .item-quantity {
	color: #ABB0BE;
}

.shopping-cart:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 8px;
	margin-left: -8px;
}

.cart-icon {
	color: #515783;
	font-size: 24px;
	margin-right: 7px;
	float: left;
}

.button {
	background: lawngreen;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	display: block;
	border-radius: 3px;
	font-size: 16px;
	margin: 25px 0 15px 0;
	text-transform: uppercase;
}

.button:hover {
	background: black;
}

.button i {
	padding-left: 5px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

 
 
 