body{
    border:0;
    margin:0px;
    padding:0;

    
}

a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:lawngreen;
}
.cover{
    position:fixed;
    top:0;
    z-index: 1;
    height:80px;
    width:100%;
    background-color: black;
    
}
nav{
    z-index: 1;
    position:fixed;
    width:100%;
    top:0;
    
    height:80px;
    border:0px;
    display:flex;
    align-items: center;
    
    justify-content: center;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    
}
footer{
    background-color: rgb(2, 12, 2);
    color:white;
}

.footer-area {
    padding: 60px 0px;
}

a {
    color:black;
    text-decoration: none;
    
}
a:hover{
    color:lawngreen;
}
ul {
    list-style: none;
    padding: 0;
}
nav a:nth-child(2){
    padding-right: 100px;
}
nav a:nth-child(1){
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 0px;
    padding-right:80px;
    font-family: 'sans-serif';
    color:white;
}
nav input{
    width:250px;
    height:35px;
    padding:10px;
    
    background-color: white;
    font-family: sans-serif;
    border:0px ;
    
    
}
.sign{
    height:50px;
    width:120px;
    font-weight: 600;
}
nav button{
    
    height:35px;
    width:50px;
    border:0px ;
    color:lawngreen;
    margin-right:50px;
    background-color:black;
    border:1px solid lawngreen;
}
nav button:hover {
    background-color: lawngreen;
    color:black;
}
nav a:last-child{
    font-size: 20px;

    text-decoration: none;
    font-weight: 800;
    padding-left: 100px;
    justify-content: right;
    color:white;
}

nav a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 68.5px;
    
    color:white;
}
nav a:hover{
    color:lawngreen;
}
.logincontainer{
  
    position:relative;
    top:120px;
    display:inline-block;
    width:500px;
    left:600px;
    height:500px;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    


}

input[type="submit"]{
    
   margin-top:20px;
    font-weight: 600;
    padding:10px;
    height:40px;
    width:auto;
    border:0px ;
    color:lawngreen;
    margin-top: 5px;;
    margin-right:50px;
    background-color:black;
    
    width:280px;
    

}
input[type="submit"]:hover {
    background-color: lawngreen;
    color:black;
    
}
input[type="text"]{
    
    margin-top:10px;
    width:280px;
    height:40px;
    padding:10px;
   
    background-color: white;
    font-family: sans-serif;
    border:0px ;
    border:1px solid black;
    margin-bottom: 20px;
  
}
input[type="password"]{
    margin-top:10px;
    width:280px;
    height:40px;
    padding:10px;
   
    background-color: white;
    font-family: sans-serif;
    border:0px ;
    border:1px solid black;
    margin-bottom: 20px;
    
}
input[type="tel"]{
    margin-top:10px;
    width:280px;
    height:40px;
    padding:10px;
   
    background-color: white;
    font-family: sans-serif;
    border:0px ;
    border:1px solid black;
    margin-bottom: 20px;
    
}
select{
    margin-top:10px;
    width:280px;
    height:40px;
    padding:10px;
   
    background-color: white;
    font-family: sans-serif;
    border:0px ;
    border:1px solid black;
    margin-bottom: 20px; 
}

embed{
    align-items: baseline;
}
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font: 14px/22px "Ubuntu", Arial, sans-serif;
	background: white;
}

.lighter-text {
	color: #ABB0BE;
}

.main-color-text {
	color: #00c0cb;
}



.navbar {
	border-top: 1px solid #fff;
	background: url("https://www.qispackaging.com.au/App_Themes/QISPackaging/Images/bg-nav-rep-x.jpg") repeat-x;
	height: 43px;
}

.container {
    z-index: 999;
	margin: auto;
	width: 80%;
}

#addtocart {
	width: 250px;
}

.badge {
	background-color: lawngreen;
	border-radius: 10px;
	color: white;
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	padding: 3px 7px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.shopping-cart {
    z-index: 999;
	background: white;
	width: 320px;
	position: absolute;
	top: 80px;
	left: 1000px;
	border-radius: 3px;
	padding: 20px;
	overflow: hidden;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	opacity: 0;
	-webkit-transform-origin: right top 0;
	-webkit-transform: scale(0);
	transform-origin: right top 0;
	transform: scale(0);
}

.shopping-cart.active {
	opacity: 1;
	-webkit-transform-origin: right top 0;
	-webkit-transform: scale(1);
	transform-origin: right top 0;
	transform: scale(1);
}

.shopping-cart .shopping-cart-header {
	border-bottom: 1px solid #E8E8E8;
	padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
	float: right;
}

.shopping-cart .shopping-cart-items {
	padding-top: 20px;
}

.shopping-cart .shopping-cart-items li {
	margin-bottom: 18px;
}

.shopping-cart .shopping-cart-items img {
	float: left;
	margin-right: 12px;
	max-width: 70px;
	max-height: 70px;
}

.shopping-cart .shopping-cart-items .item-name {
	display: block;
	font-size: 16px;
}

.shopping-cart .shopping-cart-items .item-detail {
	display: block;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.shopping-cart .shopping-cart-items .item-price {
	color: #00c0cb;
	margin-right: 8px;
}

.shopping-cart .shopping-cart-items .item-quantity {
	color: #ABB0BE;
}

.shopping-cart:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 8px;
	margin-left: -8px;
}

.cart-icon {
	color: #515783;
	font-size: 24px;
	margin-right: 7px;
	float: left;
}

.button {
	background: lawngreen;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	display: block;
	border-radius: 3px;
	font-size: 16px;
	margin: 25px 0 15px 0;
	text-transform: uppercase;
}

.button:hover {
	background: black;
}

.button i {
	padding-left: 5px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}